<!--=== Footer Section Start ===-->
<div class="footerWrap">
  <div class="containerInner">
    <div class="column footercolum">
      <h6>Contact Us</h6>
      <ul>
        <li class="f_contact icon-footer-mail"><a href="mailto:contact@algofast.com?subject=Query From Website">contact@algofast.com</a></li>
        <li class="f_contact icon-footer-phone">(312) 347-4806</li>
      </ul>
    </div>
    <div class="column footercolum">
      <h6>Follow Us</h6>
      <ul>
        <li class="f_contact icon-footer-facebook"><a href="https://facebook.com/algofast">Facebook</a></li>
        <li class="f_contact icon-footer-twitter"><a href="https://twitter.com/algofast">Twitter</a></li>
        <li class="f_contact icon-footer-linkedin"><a href="https://linkedin.com/company/algofast">Linkedin</a></li>
        <li class="f_contact icon-footer-youtube"><a href="http://www.youtube.com/user/AlgoFast">Youtube</a></li>
      </ul>
    </div>
    <div class="column footercolum">
      <h6>Join</h6>
      <ul>
        <li class="f_contact icon-footer-join"><a href="#">Join the AlgoFast Email List</a></li>
        <li class="f_contact" style="padding-top:20px;">algofast.com  © copyright 2013</li>
      </ul>
    </div>
  </div>
</div>
<!--Footer Section End-->

